name: contactos
description: Android and iOS implementation of the contactos plugin.
repository: https://github.com/ziqq/contactos/contactos
issue_tracker: https://github.com/ziqq/contactos/issues?q=is%3Aissue+is%3Aopen+label%3A%22p%3A+contactos%22
version: 1.0.6

environment:
  sdk: '>=3.6.0 <4.0.0'
  flutter: ">=3.29.3"

flutter:
  plugin:
    implements: contactos
    platforms:
      android:
        package: flutter.plugins.contactos
        pluginClass: ContactosPlugin
        dartPluginClass: Contactos
      ios:
        pluginClass: ContactosPlugin
        dartPluginClass: Contactos

dependencies:
  flutter:
    sdk: flutter

  contactos_platform_interface: ^1.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  # Linting
  flutter_lints: ^5.0.0

  # Utilities
  collection: ^1.19.1

  # Logging
  l: ^5.0.0

topics:
  - contacts
